@model TicketVerkoop.ViewModels.MatchVM

@if (Model != null)
{
    <li>
        <a asp-controller="Home"
           asp-action="Sections"
           asp-route-match="@Model.Id">
            <div class="tile">
                <div class="date">
                    @Model.MatchDate.ToString("dd/MM/yyyy")
                </div>
                <div class="teams">
                    @Model.HomeTeamNaam - @Model.AwayTeamNaam
                </div>
                <div class="stadium">
                    @@@Model.StadiumNaam
                </div>
                <div class="reservationArea">
                    <span class="reservationButton">
                        Reservate Now
                    </span>
                </div>
            </div>
        </a>
    </li>
}
