@model TicketVerkoop.ViewModels.MatchVM

@if (Model != null)
{
    <li>
        <a asp-controller="Section"
           asp-action="Index"
           asp-route-match="@Model.Id">
            <div class="tile">
                <div class="date">
                    @Model.MatchDate.ToString("g")
                </div>
                <div class="teams">
                    @Model.HomeTeamNaam - @Model.AwayTeamNaam
                </div>
                <div class="stadium">
                    @@@Model.StadiumNaam
                </div>
                <div class="reservationArea">
                    <span class="reservationButton">
                        Reserveer Nu
                    </span>
                </div>
            </div>
        </a>
    </li>
}
