@model TicketVerkoop.ViewModels.MatchSectionVM

@if (Model != null)
{
    <li>
        <div class="sectionTile">
            <div class="sectionName">
                @Model.Name
            </div>
            <div class="sectionAvailablePlaces">
                Beschikbare plaatsen: @Model.AvailablePlaces
            </div>
            <div class="sectionPrice">
                Prijs: @Model.Price
            </div>
            <div class="sectionRing">
                Ring: @Model.Ring
            </div>
        </div>
    </li>
}
