/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}


/*----Start page-------*/
.logo {
    padding: 10px;
    display: block;
    margin: auto;
    padding: 10px;
    display: block;
    margin: auto;
}


/*-------------Matches partial view---------------*/
#matches {
    list-style-type: none;
    /*padding-left:0;*/
    margin: 0;
    padding: 0;
}

    #matches li {
        margin-bottom: 20px;
    }

.tile {
    border: 1px solid lightgrey;
    border-radius: 15px;
    padding: 25px 20px;
    width: auto;
}

.date, .teams, .stadium, .reservationArea {
    display: inline-block;
    box-sizing: border-box;
    color: black;
}

.date {
    width: 10%;
}

.teams {
    width: 40%;
}

.stadium {
    width: 30%;
}

.reservationArea {
    width: 15%;
}

.reservationButton {
    border-radius: 5px;
    /*padding-left:10px;
    padding-right:10px;*/
    padding: 5px 10px 5px 10px;
    color: white;
    background-color: rgb(22,115,230);
}

.tile:hover {
    background-color: lightblue;
}

.reservationButton:hover {
    background-color: darkblue;
}

@media screen and (max-width: 991px) {
    .date {
        display: none;
    }

    .reservationButton {
        border-radius: 5px;
        /*padding-left:10px;
    padding-right:10px;*/
        padding: 5px 10px 5px 10px;
        color: white;
        background-color: rgb(22,115,230);
    }

    .tile:hover {
        background-color: lightblue;
    }

    .reservationButton:hover {
        background-color: darkblue;
    }
}

@media screen and (max-width: 991px) {
    .date {
        display: none;
    }

    .teams {
        display: inline-block;
        width: 70%;
        box-sizing: border-box;
        color: black;
    }

    .stadium {
        display: none;
        /*display: none;*/
    }

    .reservationArea {
        display: inline-block;
        width: 29%;
        box-sizing: border-box;
        color: black;
    }
}

/*-------------Sections partial view---------------*/
#sections, #subscriptionSections {
    list-style-type: none;
    /*padding-left:0;*/
    margin: 0;
    padding: 0;
}

    #sections li, #subscriptionSections li {
        margin-bottom: 20px;
    }

/*#subscriptionSections {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#subscriptionSections li {
    margin-bottom: 20px;
}*/




.sectionTile {
    border: 1px solid lightgrey;
    border-radius: 15px;
    padding: 25px 20px;
    width: auto;
}

    .sectionTile:hover {
        background-color: lightblue;
    }

    .sectionTile:hover {
        background-color: lightblue;
    }

.sectionName, .sectionAvailablePlaces, .sectionPrice, .sectionRing {
    display: inline-block;
    box-sizing: border-box;
    color: black;
}

.sectionName {
    width: 24%;
}

.sectionAvailablePlaces {
    width: 24%;
}

.sectionPrice {
    width: 25%;
}

.sectionRing {
    width: 25%;
}

.selected {
    background-color: lightblue;
}

#addToShoppingCartBtn, #addSubscribtionToShoppingCartBtn {
    background-color: lightgray;
}

@media screen and (max-width: 991px) {
    .sectionName {
        display: none;
    }

    .sectionAvailablePlaces {
        display: inline-block;
        width: 70%;
        box-sizing: border-box;
        color: black;
    }

    .sectionPrice {
        display: inline-block;
        width: 29%;
        box-sizing: border-box;
        color: black;
    }

    .sectionRing {
        display:none;
    }
}

