@model TicketVerkoop.ViewModels.ShoppingCartVM

@{
    ViewData["Title"] = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Betaling is geslaagd</h1>

<div>
    <hr />
    <dl class="row">
    </dl>
</div>
@if (Model.Reservations != null && Model.Reservations.Count != 0)
{
    <div>
        <ul id="reservations">
            @foreach (var item in Model.Reservations)
            {
                @await Html.PartialAsync("DisplayTemplates/_ReservationPayment", item)
            }
        </ul>
    </div>
}
@if (Model.Subscriptions != null && Model.Subscriptions.Count != 0)
{
    <div>
        <ul id="subscriptions">
            @foreach (var item in Model.Subscriptions)
            {
                @await Html.PartialAsync("DisplayTemplates/_SubscriptionPayment", item)
            }
        </ul>
    </div>
}
