@model TicketVerkoop.ViewModels.CustomerVM

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@if (User.Identity.IsAuthenticated)
{
    <p>Hello @Model.FirstName @Model.LastName</p>
    <p>Id: @Model.Id</p>
    @*@foreach (var item in Model)
    {
        <p>@item</p>
    }*@
}
