@model IEnumerable<TicketVerkoop.ViewModels.TeamVM>
@{
    ViewData["Title"] = "Teams";
    int counter = 0;
}

<h1>Welkom op de officiële site van de Profliga!</h1>
<p>
    Koop nu uw Tickets, zodat u niets mist van uw favoriete club.<br />
    U kunt een jaarabonnement kopen of zitjes reserveren voor een bepaalde match door op de gewenste club te klikken.
</p>
<div class="container">
    <div class="row">
        @foreach (var team in Model)
        {
            if (counter != 0 && counter % 3 == 0)
            {
            @:</div>
            @:<div class="row">
            }

            <div class="col-md-4 col-6 logo">

                <a asp-controller="Match"
                   asp-action="Index"
                   asp-route-team="@team.Name">
                    <img src=@team.Logo width="120" />
                </a>
            </div>
        }
    </div>
</div>
