@model IEnumerable<TicketVerkoop.ViewModels.MatchVM>

@{
    ViewData["Title"] = "Matches";
}

<h1>Matchen</h1>

<div>
    <ul id="matches">
        @foreach (var item in Model)
        {
            @await Html.PartialAsync("DisplayTemplates/_MatchView", item)

        }
    </ul>
</div>
