@model IEnumerable<TicketVerkoop.ViewModels.MatchSectionVM>

@{
    ViewData["Title"] = "Sections";
}

<h1>Sections</h1>

<ul id="test">
    <li class="yolo">Item 1</li>
    <li class="yolo">Item 2</li>
    <li class="yolo">Item 3</li>
</ul>

<div>
    <ul id="sections">
        @foreach (var item in Model)
        {
            @await Html.PartialAsync("DisplayTemplates/_SectionView", item)

        }
    </ul>
</div>



@section Scripts{
    <script>
        $(() => {
            $(".yolo").click(() => {
                $(this).parent.addClass("geslaagd");
            });
            $("#test").hide();
        });

        //$(document).ready(() => { });
    </script>
}