@model IEnumerable<TicketVerkoop.ViewModels.MatchSectionVM>

@{
    ViewData["Title"] = "Sections";
}

<h1>Sections</h1>

<div>
    <ul class="matches">
        @foreach (var item in Model)
        {
            @await Html.PartialAsync("DisplayTemplates/_SectionView", item)

        }
    </ul>
</div>

<div id="test">Dit is een waarde</div>

@section Scripts{
<script>
    $(() => {
        console.log("test");
        $("#test").click(() => {
            console.log("test clicked")
            $(this).css("background-color", "red");
            
        });
        $("#test").css("background-color", "yellow");
        
    })
</script>
 }