@*@model IEnumerable<TicketVerkoop.ViewModels.MatchSectionVM>*@
@model TicketVerkoop.ViewModels.MatchSectionInfoVM

@{
    ViewData["Title"] = "Sections";
}

<h1>Sections</h1>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <input type="submit" value="Reservate" class="btn btn-primary" />
        </div>
        <button type="submit" id="calculatePrice">Calculate total price</button>
        <div class="form-group">
            <label class="control-label"></label>
            <input type="number" class="form-control" value="0" id="numberOfTickets" />
            <span class="text-danger"></span>
        </div>
        <div>
            <p>Section price: <span id="price">0</span></p>
        </div>
        <div>
            <p>Total price: <span id="totalPrice">0</span></p>
        </div>
    </div>
</div>


<div>
    <ul id="sections">
        @foreach (var item in Model.MatchSections)
        {
            @await Html.PartialAsync("DisplayTemplates/_SectionView", item)

        }
    </ul>
</div>



@section Scripts{
    <script>
        $(() => {
            let price = 0.0;
            let numberOfTickets = 0;
            let totalPrice = 0.0;
            $("#sections .sectionTile").on("click", (event) => {
                let section = $(event.target).closest(".sectionTile");
                $("#sections .sectionTile").removeClass("selected");
                section.addClass("selected");

                let priceString = section.data("price");
                $("#price").text(priceString);


                //let numberOfTicketsString = $("#numberOfTickets").val();

                //// parse price and numberOfTickets to number
                //price = parseFloat(price);
                //numberOfTickets = parseInt(numberOfTickets);

                //let test = parseFloat(numberOfTickets);
                //console.log(priceString);
                //console.log(numberOfTickets);

                //totalPrice = numberOfTickets * price;
                //$("#totalPrice").text(totalPrice);
            });

            //$("#calculatePrice").on("click", (event) => {
            //    numberOfTickets = $("#numberOfTickets").val();
            //    if (price != 0) {
            //        totalPrice = numberOfTickets * price;
            //        $("#totalPrice").text(totalPrice);
            //    }
            //});

        });
    </script>
}