@model IEnumerable<TicketVerkoop.ViewModels.MatchSectionVM>

@{
    ViewData["Title"] = "Sections";
}

<h1>Sections</h1>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <a href="" id="addToShoppingCartBtn" class="btn">Add to Shopping Cart</a>
        </div>
    </div>
</div>


<div>
    <ul id="sections">
        @foreach (var item in Model)
        {
            @await Html.PartialAsync("DisplayTemplates/_MatchSectionView", item)

        }
    </ul>
</div>



@section Scripts{
    <script>
        $(() => {

            let matchId = "";

            let shoppingCartBtn = $("#addToShoppingCartBtn");

            $("#sections .sectionTile").on("click", (event) => {
                let section = $(event.target).closest(".sectionTile");
                $("#sections .sectionTile").removeClass("selected");
                section.addClass("selected");

                matchId = section.data("id")
                console.log(matchId);

                shoppingCartBtn.attr("href", "/ShoppingCart/Select/" + matchId);
                shoppingCartBtn.css("background-color", "#007bff");
                shoppingCartBtn.css("color", "white");
            });

        });
    </script>
}