@model TicketVerkoop.ViewModels.SubscriptionSectionVM

@{
    ViewData["Title"] = "Subscriptions";
}

<h1 id="team" data-team="@Model.TeamName">Jaarabonnement @Model.TeamName</h1>
<h2>@Model.StartDate.Year - @Model.EndDate.Year</h2>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <a href="" id="addSubscribtionToShoppingCartBtn" class="btn">Add to Shopping Cart</a>
        </div>
    </div>
</div>

@if (Model.SectionVMs != null)
{
    <div>
        <ul id="subscriptionSections">
            @foreach (var item in Model.SectionVMs)
            {
                @await Html.PartialAsync("DisplayTemplates/_SectionView", item)

            }
        </ul>
    </div>
}

@section Scripts{
    <script>
        $(() => {

            let subscriptionSectionId = "";
            let shoppingCartBtn = $("#addSubscribtionToShoppingCartBtn");
            let teamname = $("#team").data("team");
            $("#subscriptionSections .sectionTile").on("click", (event) => {
                let section = $(event.target).closest(".sectionTile");
                $("#subscriptionSections .sectionTile").removeClass("selected");
                section.addClass("selected");

                subscriptionSectionId = section.data("id")

                shoppingCartBtn.attr("href", "/ShoppingCart/SelectSubscription?id=" + subscriptionSectionId + "&teamName=" + teamname);
                shoppingCartBtn.css("background-color", "#007bff");
                shoppingCartBtn.css("color", "white");
            });

        });
    </script>
}
