@model IEnumerable<TicketVerkoop.ViewModels.TeamVM>
@{
    ViewData["Title"] = "Teams";
    int counter = 0;
}

<h1>Teams</h1>
<div class="container">
    <div class="row">
        @foreach (var team in Model)
        {
            if (counter != 0 && counter % 3 == 0)
            {
            @:</div>
            @:<div class="row">
            }

            <div class="col-md-4 rounded">
                <a asp-controller="Home"
                   asp-action="Matches"
                   asp-route-team="@team.Name">
                    @{ 
                        var image = team.Name + ".png";
                    }
                    <img src="~/images/@image" />
                </a>
            </div>
        }

    </div>
</div>

